@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.cleara:after {
  content: "";
  display: table;
  clear: both;
}
*:focus {
  outline: none;
}
/* general style*/
html {
  height: 100%;
}
body {
  font: 16px/22px 'PT Sans', sans-serif;
  width: 100%;
  background: #ffffff;
  color: #010101;
  height: 100%;
  position: relative;
}
a {
  text-decoration: none;
  color: #201600;
  outline: none;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
  outline: none;
}
.trn {
  transition: all 0.3s ease;
}
.wrap {
  width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}
.header {
  display: flex;
  align-items: center;
  height: 90px;
}
.header-wr {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 90px;
  background: url(../img/header-bg.png) repeat-x left top #3a5994;
}
.header__left {
  padding-right: 0;
  flex-grow: 1;
}
.header__right {
  text-align: right;
  flex-shrink: 0;
  width: 320px;
}
.header .mob-btn {
  display: none;
  height: 32px;
  width: 32px;
  background: url(../img/header-menu-btn.png) no-repeat left top;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-nav__item {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}
.main-nav__item a {
  font: 700 17px/39px 'PT Sans', sans-serif;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s ease;
  display: block;
  border-radius: 3px;
  padding: 0 16px;
}
.main-nav__item.active a,
.main-nav__item:hover a {
  background-color: #fff;
  color: #314363;
}
.lang-menu {
  display: block;
}
.lang-menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.lang-menu__item a {
  font: 400 12px/37px 'PT Sans', sans-serif;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0 10px;
  transition: all 0.3s ease;
  display: block;
}
.lang-menu__item.cur a {
  border-color: #fff;
  font-weight: 700;
  text-decoration: none!important;
}
.lang-menu__item:hover a {
  text-decoration: underline;
}
.main-banner {
  position: relative;
  height: 595px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-top: 90px;
}
.main-banner__phone-block {
  position: absolute;
  top: 118px;
  right: 20px;
  color: #fff;
  text-align: right;
}
.main-banner__phone-block .phone-text {
  font: 400 14px/16px 'PT Sans', sans-serif;
  margin: 0 0 8px;
}
.main-banner__phone-block .phone-num {
  display: inline-block;
  font: 700 24px/26px 'PT Sans', sans-serif;
  color: #fff;
  margin: 0 0 13px;
}
.main-banner__phone-block .callback-btn {
  display: block;
  width: 210px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: left top;
  transition: all 0.3s ease;
}
.main-banner__phone-block .callback-btn:hover {
  opacity: .9;
}
.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.logo img {
  display: block;
  width: 237px;
}
.h1-title {
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  text-indent: -9999px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
}
.h2-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #152c55;
  text-transform: uppercase;
  margin: 0 0 90px;
  padding: 0;
}
.h2-title i {
  font-style: normal;
  font: 400 40px/42px 'Gabriola', sans-serif;
  color: #010101;
  opacity: 0.7;
  display: block;
  text-transform: none;
}
.season-wr {
  background: url(../img/sachalin-map.png) no-repeat center 45px #f0e3cf;
  margin-bottom: -75px;
}
.season__topline {
  position: relative;
  top: -96px;
}
.season-switch {
  background: url(../img/switch-sw.png) no-repeat center 0;
  height: 167px;
  margin: 0 0 20px;
}
.season-switch__panel {
  width: 330px;
  margin: 0 auto;
  position: relative;
  top: 17px;
  display: block;
}
.season-switch__btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 49px;
  height: 33px;
  background-repeat: no-repeat;
  background-image: url(../img/switch-bg.png);
}
.season-switch__item {
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
  font: 700 18px/20px 'PT Sans', sans-serif;
  color: #565656;
}
.season-switch__item span {
  display: block;
}
.season-switch__item--sun {
  background: url(../img/icons/sun-ico.png) no-repeat left center;
}
.season-switch__item--sun span {
  color: #bd6c03;
}
.season-switch__item--snow {
  background: url(../img/icons/snow-ico.png) no-repeat left center;
}
.season-switch__item--snow span {
  color: #0287c5;
}
.season-title {
  font: 700 26px/28px 'PT Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0 0 8px;
  text-shadow: 0 0 4px rgba(64, 64, 64, 0.77);
}
.season-lable {
  display: block;
  position: absolute;
  top: -32px;
  left: 25px;
  width: 231px;
  height: 236px;
  transition: all 0.3s ease;
}
.season-lable:hover {
  opacity: .9;
}
.fish-slider-wr {
  position: relative;
  top: -96px;
}
.fish-slider-wr:before {
  content: '';
  display: block;
  height: 8px;
  width: auto;
  background: #fff;
  top: 140px;
  left: 0;
  right: 0;
  position: absolute;
}
.fish-slider__item {
  position: relative;
  text-align: center;
}
.fish-slider .fish-item {
  position: relative;
  padding-bottom: 50px;
}
.fish-slider .fish-item__size {
  font: 700 22px/24px 'PT Sans', sans-serif;
  color: #000;
}
.fish-slider .fish-item__tooltip {
  position: absolute;
  top: 168px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 3px rgba(64, 64, 64, 0.2);
  width: 80%;
  font: 400 16px/18px 'PT Sans', sans-serif;
  color: #6d6d6d;
  transition: all 0.3s ease;
  opacity: 0;
}
.fish-slider .fish-item__tooltip b {
  display: block;
  font: 700 22px/24px 'PT Sans', sans-serif;
  color: #000;
}
.fish-slider .fish-item__tooltip:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.fish-slider .fish-item__image {
  position: relative;
  height: 133px;
  cursor: pointer;
  text-align: center;
  margin: 0 0 56px;
}
.fish-slider .fish-item__image img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.fish-slider .fish-item__image:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 4px solid #314363;
  border-radius: 50%;
  background-color: #314363;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.fish-slider .fish-item:hover .fish-item__tooltip {
  opacity: 1!important;
}
.fish-slider .fish-item:hover .fish-item__image:after {
  background-color: #fff;
}
.causes {
  padding: 45px 0 160px;
  position: relative;
}
.causes-bg-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.causes-bg-slider .slick-list,
.causes-bg-slider .slick-track {
  height: 100%;
}
.causes-bg-slider__item {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.causes-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 90px;
  padding: 0;
  text-shadow: 0 1px 0 rgba(64, 64, 64, 0.41);
}
.causes-title i {
  font-style: normal;
  font: 400 40px/42px 'Gabriola', sans-serif;
  color: #010101;
  display: block;
  text-transform: none;
  text-shadow: none;
  margin: 0 0 8px;
}
.causes-title b {
  font-size: 55px;
}
.causes-title strong {
  font-size: 60px;
}
.causes-item {
  background: rgba(255, 255, 255, 0.89);
  border-radius: 5px;
  height: 260px;
  padding: 25px 40px;
}
.causes-item__title {
  display: inline-block;
  color: #010101;
  font: 40px/42px 'Gabriola', sans-serif;
  margin: 0 0 28px;
  background: url(../img/causes-title-bg.png) no-repeat right bottom;
}
.causes-item__title span {
  font-size: 72px;
}
.causes-item__text {
  padding-left: 30px;
  font: 400 16px/20px 'PT Sans', sans-serif;
}
.causes-slider {
  margin: 0 78px;
}
.causes-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.causes-slider .slick-dots {
  top: -60px;
  bottom: auto;
}
.causes-slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 11px;
  padding: 0;
  cursor: pointer;
}
.causes-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: #fff;
  opacity: .75;
  border-radius: 50%;
}
.causes-slider .slick-dots li button:hover,
.causes-slider .slick-dots li button:focus {
  opacity: 1;
}
.causes-slider .slick-dots li button:before {
  display: none;
}
.causes-slider .slick-dots li.slick-active button {
  opacity: 1;
}
.causes-slider .slick-prev,
.causes-slider .slick-next {
  width: 78px;
  height: 135px;
  transition: all 0.3s ease;
}
.causes-slider .slick-prev:before,
.causes-slider .slick-next:before {
  display: none;
}
.causes-slider .slick-prev {
  left: -78px;
  background: url(../img/causes-slider-arrs.png) no-repeat left top;
}
.causes-slider [dir='rtl'] .slick-prev {
  right: -78px;
  left: auto;
}
.causes-slider .slick-next {
  right: -78px;
  background: url(../img/causes-slider-arrs.png) no-repeat left bottom;
}
.causes-slider [dir='rtl'] .slick-next {
  right: -78px;
  left: 0;
}
.causes-slider .slick-prev:hover,
.causes-slider .slick-next:hover {
  opacity: .9;
}
.welcome {
  position: relative;
}
.welcome .big-bear {
  display: block;
  position: absolute;
  bottom: -45px;
  right: 0;
}
.welcome__topline {
  padding: 50px 0;
  background: url(../img/welcome-topline-bg.png) repeat left top #ffffff;
}
.welcome-title {
  margin: 0;
  padding: 0 0 0 ;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #115286;
}
.welcome-title span {
  font-size: 60px;
}
.welcome-title i {
  display: block;
  font-style: normal;
  font: 50px/52px 'Gabriola', sans-serif;
}
.welcome__text {
  font: 400 16px/20px 'PT Sans', sans-serif;
  color: #fff;
  margin: 0 0 50px;
  padding-right: 420px;
}
.welcome__text-wr {
  background: #115286;
  padding: 50px 0 20px;
}
.welcome__included {
  padding: 65px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,cadae5+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 1%, #cadae5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 1%, #cadae5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 1%, #cadae5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cadae5', GradientType=0);
  /* IE6-9 */
}
.welcome__included .included-title {
  color: #115286;
  font: 700 45px/47px 'PT Sans', sans-serif;
  margin: 0 0 50px;
}
.welcome__included .included-title span {
  display: block;
  font: 700 30px/32px 'PT Sans', sans-serif;
}
.included-list {
  padding-right: 300px;
  display: flex;
  flex-wrap: wrap;
}
.included-list__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 33.3333%;
}
.included-list__item-image {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 85px;
  line-height: 85px;
  text-align: center;
}
.included-list__item-image img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.included-list__item-text {
  display: inline-block;
  vertical-align: middle;
  font: 700 20px/22px 'PT Sans', sans-serif;
  color: #424242;
}
.included-list__item-text i {
  display: block;
  font: 700 15px/17px 'PT Sans', sans-serif;
  color: #8c8c8c;
}
.video iframe {
  display: block;
  margin: 0 auto 35px;
  border-radius: 10px;
  width: 100%;
  max-width: 640px;
}
.video-wr {
  background: url(../img/view-bg.jpg) no-repeat center top;
  background-size: cover;
  padding: 55px 0;
}
.video-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #203546;
  text-transform: uppercase;
  margin: 0 0 55px;
  padding: 0;
}
.video-title i {
  font-style: normal;
  font: 400 55px/57px 'Gabriola', sans-serif;
  color: #818890;
  display: block;
  text-transform: none;
}
.video-title span {
  font-size: 60px;
}
.youtube-btn {
  display: inline-block;
  font: 700 20px/22px 'PT Sans', sans-serif;
  color: #38434b;
  padding: 15px 50px 15px 65px;
  border: 2px solid #38434b;
  border-radius: 5px;
  background: url(../img/icons/youtube-ico.png) no-repeat 23px center transparent;
  transition: all 0.3s ease;
}
.youtube-btn:hover {
  background-color: #fff;
}
.center {
  text-align: center;
}
.team {
  display: flex;
  justify-content: space-around;
}
.team__item {
  text-align: center;
}
.team__item-image {
  display: block;
  margin: 0 auto 30px;
}
.team__item-name {
  color: #000;
  font: 400 22px/24px 'PT Sans', sans-serif;
  margin: 0 0 5px;
}
.team__item-post {
  color: #000;
  font: 700 18px/20px 'PT Sans', sans-serif;
}
.team__item-soc {
  text-align: center;
  margin-top: 20px;
}
.team__item-soc .soc-link {
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.team__item-soc .soc-link--fb {
  width: 9px;
  height: 19px;
  background: url(../img/icons/fb-ico.png) no-repeat left top;
}
.team__item-soc .soc-link--tw {
  width: 18px;
  height: 15px;
  background: url(../img/icons/tw-ico.png) no-repeat left top;
}
.team__item-soc .soc-link--vk {
  width: 22px;
  height: 14px;
  background: url(../img/icons/vk-ico.png) no-repeat left top;
}
.team__item-soc .soc-link:hover {
  opacity: .8;
}
.team-wr {
  padding: 55px 0;
}
.team-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #203546;
  text-transform: uppercase;
  margin: 0 0 65px;
  padding: 0;
}
.team-title i {
  font-style: normal;
  font: 400 55px/55px 'Gabriola', sans-serif;
  color: #818890;
  display: block;
  text-transform: none;
}
.blog {
  display: flex;
  margin: 0 -10px;
}
.blog-wr {
  padding: 55px 0 35px;
}
.blog-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #203546;
  text-transform: uppercase;
  margin: 0 0 50px;
  padding: 0;
}
.blog-title i {
  font-style: normal;
  font: 400 30px/32px 'Gabriola', sans-serif;
  color: #818890;
  display: block;
  text-transform: none;
}
.blog__item {
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.blog__item-wr {
  padding: 0 10px;
}
.blog__item:hover {
  box-shadow: 0 0 25px rgba(64, 64, 64, 0.4);
}
.blog__item-content {
  color: #203546;
  padding: 25px 30px;
}
.blog__item-content .text {
  font: 400 16px/20px 'PT Sans', sans-serif;
}
.blog__item-content .date {
  font: 400 16px/20px 'PT Sans', sans-serif;
  margin: 0 0 10px;
}
.blog__item-content .title {
  font: 700 22px/24px 'PT Sans', sans-serif;
  margin: 0 0 15px;
}
.blog__item-image {
  height: 280px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}
.footer {
  background: url(../img/footer-bg.jpg) no-repeat center top;
  background-size: cover;
}
.footer form {
  width: 100%;
  display: block;
}
.footer-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #203546;
  text-transform: uppercase;
  margin: 0 0 50px;
  padding: 0;
}
.footer-title i {
  font-style: normal;
  font: 400 40px/42px 'Gabriola', sans-serif;
  color: #818890;
  display: block;
  text-transform: none;
}
.footer__application {
  padding: 30px 0;
  border-radius: 5px;
  border: 2px solid #cacfd3;
}
.footer__application-wr {
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  margin: 50px 0 265px;
  border-radius: 5px;
}
.footer__form {
  display: flex;
  align-items: left;
}
.footer__form-col {
  flex-grow: 1;
  padding: 0 40px;
  width: 50%;
}
.footer__form-row {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
}
.footer__form-row:last-child {
  margin-bottom: 0;
}
.footer__form-row .text-field-label {
  flex-shrink: 0;
  font: 400 18px/54px 'PT Sans', sans-serif;
  color: #000;
  width: 120px;
}
.footer__form-row .text-field {
  flex-grow: 1;
}
.footer__form-row .text-field input[type="text"] {
  display: block;
  width: 100%;
  border: 0;
  font: 700 18px/54px 'PT Sans', sans-serif;
  padding-bottom: 4px;
  background: url(../img/input-bg.png) repeat-x bottom left transparent;
}
.footer__form-row--onecol {
  display: block;
}
.footer__form .text-top-label {
  font: 400 18px/54px 'PT Sans', sans-serif;
  color: #000;
}
.footer__form textarea {
  height: 164px;
  width: 100%;
  display: block;
  background-size: cover;
  resize: none;
  padding: 14px;
  border: 2px solid #cacfd3;
  border-radius: 3px;
  font: 400 16px/18px 'PT Sans', sans-serif;
  background: transparent;
}
.footer__form-btn {
  display: inline-block;
  font: 700 20px/20px 'PT Sans', sans-serif;
  color: #38434b;
  padding: 15px 30px;
  border: 2px solid #38434b;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
}
.footer__form-btn:hover {
  opacity: .8;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 180px;
}
.footer__bottom-wr {
  background: rgba(0, 0, 0, 0.2);
}
.footer__bottom .footer-logo {
  flex-shrink: 0;
}
.footer__bottom .footer-logo img {
  display: block;
  width: 104px;
}
.footer__bottom .footer-menu {
  flex-shrink: 0;
}
.footer__bottom .footer-menu__item {
  display: block;
  margin: 0 0 20px;
}
.footer__bottom .footer-menu__item:last-child {
  margin: 0;
}
.footer__bottom .footer-menu__item a {
  text-decoration: underline;
  color: #fff;
  font: 400 14px/16px 'PT Sans', sans-serif;
  white-space: nowrap;
}
.footer__bottom .footer-menu__item a:hover {
  text-decoration: none;
}
.footer__bottom__right {
  text-align: right;
  flex-shrink: 0;
  width: 320px;
}
.footer__bottom .footer-phone {
  text-align: center;
  width: 205px;
}
.footer__bottom .footer-phone-btn {
  display: block;
  background: url(../img/footer-phone-btn-bg.png) no-repeat left top;
  width: 198px;
  height: 51px;
  transition: all 0.3s ease;
}
.footer__bottom .footer-phone-btn:hover {
  opacity: .8;
}
.footer__bottom .footer-phone-link {
  color: #fff;
  font: 400 28px/30px 'PT Sans', sans-serif;
  margin: 0 0 10px;
  display: inline-block;
}
.footer__bottom .footer-phone-link strong {
  font-weight: 700;
}
.subscribe-form__title {
  color: #fff;
  font: 700 22px/24px 'PT Sans', sans-serif;
  margin: 0 0 15px;
}
.subscribe-form__panel {
  background: #fff;
  border-radius: 5px;
  padding: 5px 5px 5px 15px;
}
.subscribe-form__panel-field {
  position: relative;
  top: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  border: 0;
  font: 400 18px/26px 'PT Sans', sans-serif;
  padding-bottom: 4px;
  color: #010101;
  background: url(../img/input-bg.png) repeat-x bottom left transparent;
  margin: 0 15px;
}
.subscribe-form__panel-label {
  display: inline-block;
  vertical-align: middle;
  color: #010101;
  font: 400 18px/26px 'PT Sans', sans-serif;
}
.subscribe-form__panel-btn {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 45px;
  border: 0;
  background: url(../img/subscribe-btn.png) no-repeat left top;
  transition: all 0.3s ease;
}
.subscribe-form__panel-btn:hover {
  opacity: .8;
}
.acquaintance {
  background: url(../img/acquaintance-bg.jpg) no-repeat center top;
  background-size: cover;
  padding: 90px 0 55px;
}
.acquaintance-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #203546;
  text-transform: uppercase;
  margin: 0 0 50px;
  padding: 0;
}
.acquaintance-title i {
  display: inline-block;
  position: absolute;
  top: -49px;
  right: 0;
  font-style: normal;
  font: 400 55px/57px 'Gabriola', sans-serif;
  color: #818890;
  display: block;
  text-transform: none;
}
.acquaintance-title span {
  position: relative;
  font-size: 22px;
}
.acquaintance-nav {
  display: flex;
  margin: 0 0 20px;
}
.acquaintance-nav-wr {
  background: #fff;
  border-radius: 5px;
}
.acquaintance-nav__item {
  position: relative;
  display: block;
  flex-grow: 1;
}
.acquaintance-nav__item:first-child a {
  border-radius: 5px 0 0 5px;
}
.acquaintance-nav__item:last-child a {
  border-radius: 0 5px 5px 0;
}
.acquaintance-nav__item > a {
  display: block;
  color: #010101;
  font: 400 18px/60px 'PT Sans', sans-serif;
  text-align: center;
  transition: all 0.3s ease;
}
.acquaintance-nav__item.with-droplist > a span {
  position: relative;
  display: inline-block;
}
.acquaintance-nav__item.with-droplist > a span:after {
  content: '';
  position: absolute;
  right: -25px;
  top: 28px;
  border: 5px solid transparent;
  border-top: 5px solid #010101;
}
.acquaintance-nav__item.with-droplist:hover .acquaintance-nav__droplist {
  display: block;
}
.acquaintance-nav__item:first-child.with-droplist:hover > a {
  border-radius: 5px 0 0 0;
}
.acquaintance-nav__item:last-child.with-droplist:hover > a {
  border-radius: 0 5px 0 0;
}
.acquaintance-nav__item:hover > a,
.acquaintance-nav__item.active > a {
  background: #203546;
  color: #fff;
}
.acquaintance-nav__item:hover > a span:after,
.acquaintance-nav__item.active > a span:after {
  border-top-color: #fff;
}
.acquaintance-nav__droplist {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 395px;
  background: #203546;
  padding: 20px 50px;
  border-radius: 0 0 5px 5px;
}
.acquaintance-nav__droplist-item {
  display: block;
  border-bottom: 1px solid #384b5a;
}
.acquaintance-nav__droplist-item a {
  display: block;
  color: #fff;
  font: 400 16px/18px 'PT Sans', sans-serif;
  padding: 15px 0;
  transition: all 0.3s ease;
}
.acquaintance-nav__droplist-item:hover a {
  opacity: .8;
}
.show-all {
  display: inline-block;
  background: url(../img/icons/eye-ico.png) no-repeat left center;
  color: #fff;
  padding-left: 35px;
  margin: 20px 0 0;
  transition: all 0.3s ease;
}
.show-all span {
  font: 400 16px/18px 'PT Sans', sans-serif;
  border-bottom: 1px solid #fff;
}
.show-all:hover span {
  border-color: transparent;
}
.right-btn {
  float: right;
}
.gallery {
  display: flex;
}
.gallery-wr {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.gallery__left {
  flex-grow: 1;
  padding: 30px 50px;
  width: 60%;
}
.gallery__right {
  flex-shrink: 0;
  width: 40%;
}
.gallery-title {
  font: 400 36px/38px 'PT Sans', sans-serif;
  color: #203546;
  padding: 0;
  margin: 0 0 15px;
}
.gallery-btn {
  display: inline-block;
  font: 700 20px/20px 'PT Sans', sans-serif;
  color: #38434b;
  padding: 15px 0;
  width: 260px;
  text-align: center;
  border: 2px solid #38434b;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
}
.gallery-btn:hover {
  opacity: .8;
}
.gallery-bigslider.slick-slider,
.gallery-bigslider .slick-list,
.gallery-bigslider .slick-track {
  height: 100%;
}
.smallslider {
  margin: 0 -15px 15px;
  display: flex;
  flex-wrap: wrap;
}
.smallslider__item {
  margin: 10px 15px;
  cursor: pointer;
}
.smallslider__item img {
  display: block;
}
.bigslider__item {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}
.bigslider__item:after {
  content: "";
  background: url(../img/increase.png) no-repeat left top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 63px;
  height: 63px;
  opacity: .9;
  transition: all 0.3s ease;
}
.bigslider__item:hover:after {
  opacity: 1;
}
.tours__topline {
  background: #254a7c;
  padding: 55px 0 20px;
}
.tours-title {
  text-align: center;
  font: 700 45px/47px 'PT Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 0;
  text-shadow: 0 1px 0 rgba(64, 64, 64, 0.41);
}
.tours-title i {
  display: block;
  font-style: normal;
  font: 400 55px/57px 'Gabriola', sans-serif;
  color: #94baea;
  text-transform: none;
  text-shadow: none;
}
.tours-title span {
  font-size: 75px;
}
.tours-slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.tours-slider-wr {
  position: relative;
}
.tours-slider__item {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 55px 0;
}
.tours-slider__item .wrap {
  padding: 0 120px;
}
.tours-slider__item-title {
  text-align: center;
  font: 700 40px/42px 'PT Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 35px;
  padding: 0;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
}
.tours-slider__item-title span {
  text-transform: none;
  display: block;
  font-weight: 400;
}
.tours-slider__item-desc {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 40px 55px;
  margin: 0 0 35px;
}
.tours-slider__item-desc .tours-text {
  text-align: center;
  color: #322d27;
  font: 400 16px/20px 'PT Sans', sans-serif;
}
.tours-slider__controls {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  width: 45px;
  height: 415px;
  left: 15px;
  top: 65px;
  padding: 50px 0;
  z-index: 2;
}
.tours-slider__controls-btn {
  position: absolute;
  bottom: 8px;
  left: 0;
  display: block;
  width: 45px;
  height: 35px;
  background: url(../img/burger.png) no-repeat center center;
  transition: all 0.3s ease;
}
.tours-slider__controls-btn:hover {
  opacity: .8;
}
.tours-slider__controls .slick-dots {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  bottom: auto;
  transform: translateY(-50%);
}
.tours-slider__controls .slick-dots li {
  position: relative;
  display: block;
  width: 45px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.tours-slider__controls .slick-dots li button {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent;
  opacity: 1;
  border-radius: 50%;
  border: 4px solid #322d27;
  margin-top: -1px;
}
.tours-slider__controls .slick-dots li button:hover,
.tours-slider__controls .slick-dots li button:focus {
  opacity: 1;
}
.tours-slider__controls .slick-dots li button:before {
  display: none;
}
.tours-slider__controls .slick-dots li.slick-active {
  background-color: #2f7ce3;
}
.tours-slider__controls .slick-dots li.slick-active:after {
  content: '';
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid transparent;
  border-left: 8px solid #2f7ce3;
}
.tours-slider__controls .slick-dots li.slick-active button {
  border-color: #fff;
}
.tours-panel {
  display: flex;
  align-items: center;
  margin: 0 0 35px;
}
.tours-panel__left {
  flex-grow: 1;
}
.tours-panel__right {
  flex-shrink: 0;
  text-align: right;
}
.tours-panel__item {
  font: 700 16px/36px 'PT Sans', sans-serif;
  color: #010101;
  display: inline-block;
  margin-right: 30px;
}
.tours-panel__item:last-child {
  margin: 0;
}
.tours-panel__item img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.tours-panel__item span {
  font: 700 16px/36px 'PT Sans', sans-serif;
  color: #010101;
  display: inline-block;
}
.tours-panel__price {
  font: 700 20px/22px 'PT Sans', sans-serif;
  color: #010101;
}
.tours-panel__price span {
  font-size: 30px;
}
.tours-btn {
  color: #fff;
  font: 700 18px/18px 'PT Sans', sans-serif;
  text-transform: uppercase;
  padding: 27px 65px 23px;
  border-radius: 30px;
  background: #2f7ce3;
  display: inline-block;
  transition: all 0.3s ease;
}
.tours-btn:hover {
  opacity: .9;
}
.tours-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tours-list__item {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  border: 2px solid #44648e;
  border-radius: 5px;
  height: 130px;
  width: 155px;
  text-align: center;
  padding: 5px;
  color: #fff;
  transition: all 0.3s ease;
}
.tours-list__item:hover {
  background: #44648e;
}
.tours-list__item-image {
  height: 70px;
  line-height: 70px;
  position: relative;
  z-index: 3;
}
.tours-list__item-image img {
  display: inline-block;
  vertical-align: middle;
  max-height: 98%;
  max-width: 98%;
}
.tours-list__item-image .active-img {
  display: none;
}
.tours-list__item-text {
  font: 700 18px/18px 'PT Sans', sans-serif;
  position: relative;
  z-index: 3;
}
.tours-list__item .backing {
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: -35px;
  top: 0;
  background-color: #ededed;
  border-radius: 5px;
  z-index: 2;
  display: none;
  box-shadow: 0 8px 25px rgba(64, 64, 64, 0.6);
}
.tours-list__item .backing:after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 15px solid #ededed;
}
.tours-list__item.active {
  color: #254a7c;
}
.tours-list__item.active .backing {
  display: block;
}
.tours-list__item.active .active-img {
  display: inline-block;
}
.tours-list__item.active .def-img {
  display: none;
}
.tours-list__more {
  flex-shrink: 0;
  position: relative;
}
.tours-list__more .tours-more-btn {
  position: relative;
  z-index: 9;
  cursor: pointer;
  width: 55px;
  height: 55px;
  margin-right: 20px;
  background: url(../img/dots3.png) no-repeat center 14px #ffffff;
  border-radius: 5px;
  font: 700 16px/18px 'PT Sans', sans-serif;
  color: #3f3f3f;
  text-align: center;
  padding: 25px 5px 5px;
}
.tours-list__more .tours-more-btn.active {
  text-indent: -9999px;
  height: 35px;
  margin-bottom: 20px;
}
.tours-list__more .tours-more-btn.active + .tours-more-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.tours-list__more .tours-more-menu {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  position: absolute;
  top: -10px;
  right: 0;
  background: #fff;
  border-radius: 5px;
  padding: 40px 20px 15px;
  z-index: 8;
  box-shadow: 0 4px 21px rgba(64, 64, 64, 0.33);
  transition: all 0.3s ease;
}
.tours-list__more .tours-more-menu li {
  display: block;
  border-bottom: 1px solid #c7d0dd;
  color: #254a7c;
}
.tours-list__more .tours-more-menu li:last-child {
  border: 0;
}
.tours-list__more .tours-more-menu li a {
  display: block;
  text-align: right;
  font: 700 16px/19px 'PT Sans', sans-serif;
  padding: 12px 0;
  color: #254a7c;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.tours-list__more .tours-more-menu li:hover a {
  opacity: .9;
}
.inner-switch {
  height: 125px;
  display: flex;
  align-items: center;
  color: #fff;
}
.inner-switch-wr {
  background-color: #152643;
}
.inner-switch__left {
  flex-grow: 1;
}
.inner-switch__right {
  flex-shrink: 0;
  text-align: right;
}
.inner-switch__title {
  font: 700 30px/32px 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.inner-switch__text {
  display: inline-block;
  vertical-align: middle;
}
.inner-switch__btn {
  display: inline-block;
  vertical-align: middle;
}
.inner-switch .inner-season {
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/inner-seasons.png) no-repeat left top;
  margin: 0 15px;
}
.inner-switch .inner-season--winter {
  background-position: left bottom;
}
.inner-switch .inner-season-btn {
  width: 78px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/inner-season-btn.png) no-repeat left top;
}
.tours-inner-slider__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
}
.tours-inner-slider__title {
  font: 700 45px/47px 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 105px 0 0;
  margin: 0;
}
.tours-inner-slider__bottomline {
  background-color: #152643;
  padding: 25px;
}
.tours-inner-slider__desc {
  display: flex;
  align-items: center;
  height: 160px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tours-inner-slider__desc-item {
  width: 25%;
  font: 400 20px/22px 'PT Sans', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
}
.tours-inner-slider__desc-item img,
.tours-inner-slider__desc-item span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.catalog {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.catalog-wr {
  background: #d8e3f1;
  padding: 90px 0;
  position: relative;
}
.catalog__item {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.catalog__item-wr {
  padding: 0 15px;
  margin: 0 0 30px;
  width: 50%;
}
.catalog__item-image {
  display: block;
  height: 355px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.catalog__item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  background-color: #f6f6f6;
  padding: 0 30px;
}
.catalog__item-footer__item {
  flex-shrink: 0;
}
.catalog__item-footer__item img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.catalog__item-footer__item span {
  font: 700 16px/36px 'PT Sans', sans-serif;
  color: #010101;
  display: inline-block;
}
.catalog__item-desc {
  padding: 30px;
  background-color: #fff;
  flex-grow: 1;
}
.catalog__item-title {
  font: 700 28px/30px 'PT Sans', sans-serif;
  color: #152643;
  margin: 0 0 30px;
}
.catalog__item-text {
  font: 400 16px/20px 'PT Sans', sans-serif;
  color: #322d27;
}
.catalog__item-topline {
  display: flex;
  margin: 0 0 25px -30px;
  align-items: center;
}
.catalog__item-topline .price {
  flex-grow: 1;
  text-align: right;
  font: 700 20px/48px 'PT Sans', sans-serif;
  color: #010101;
}
.catalog__item-topline .price span {
  font-size: 30px;
}
.catalog__item-topline .label {
  flex-shrink: 0;
  font: 700 16px/48px 'PT Sans', sans-serif;
  color: #fff;
  padding: 0 30px;
  text-transform: uppercase;
}
.catalog__item-topline .label--red {
  background-color: #982d2d;
}
.catalog__item-topline .label--yellow {
  background-color: #d7a716;
}
.catalog__item-topline .label--green {
  background-color: #3f8c1d;
}
.catalog__item-overlay {
  background-color: rgba(127, 145, 176, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 5;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.catalog__item-overlay .overlay-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2f7ce3;
  border-radius: 30px;
  width: 80%;
  font: 700 18px/20px 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 27px 25px 25px;
  color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.45);
}
.catalog__item:hover .catalog__item-overlay {
  visibility: visible;
  opacity: 1;
}
.botbtn {
  height: 35px;
  width: 80px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background: url(../img/small-arr.png) no-repeat left top;
}
.inner-nav {
  display: flex;
  align-items: center;
  height: 124px;
}
.inner-nav__left {
  flex-grow: 1;
}
.inner-nav .inner-menu {
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding-right: 150px;
}
.inner-nav .inner-menu__item {
  flex-shrink: 0;
  color: #010101;
  font: 700 16px/18px 'PT Sans', sans-serif;
  text-transform: uppercase;
  position: relative;
}
.inner-nav .inner-menu__item:after {
  content: '';
  display: block;
  height: 4px;
  width: 20px;
  background-color: #c5dbf7;
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: all 0.3s ease;
}
.inner-nav .inner-menu__item:hover:after {
  width: 100%;
}
.inner-nav__btn {
  display: block;
  border: 2px solid #152643;
  border-radius: 35px;
  color: #152643;
  font: 700 16px/16px 'PT Sans', sans-serif;
  text-transform: uppercase;
  padding: 26px 35px 26px 65px;
  transition: all 0.3s ease;
  background: url(../img/inner-nav-btn-bg.png) no-repeat 22px center;
}
.inner-nav__btn:hover {
  opacity: 0.9;
}
.inner-nav-wr {
  background: #fff;
  z-index: 10;
}
.inner-nav-wr.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 90px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.inner-screen {
  padding: 55px 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.inner-screen__title {
  font: 700 30px/32px 'PT Sans', sans-serif;
  margin: 0 0 45px;
}
.inner-screen__title img {
  display: inline-block;
  vertical-align: bottom;
}
.inner-screen__text p {
  font: 400 16px/22px 'PT Sans', sans-serif;
  margin-bottom: 20px;
}
.inner-screen .schema-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.inner-screen .included-list {
  padding-right: 0;
}
.inner-screen .included-list__item {
  margin: 20px 0;
}
.inner-screen .included-list__item-text {
  color: #fff;
  font-weight: 400;
}
.inner-screen .included-list__item-text i {
  font-weight: 400;
  color: #fff;
}
.fullscreen-slider {
  position: relative;
  z-index: 2;
  margin: 0 0 50px;
}
.fullscreen-slider__item {
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 585px;
  position: relative;
}
.fullscreen-slider__item:after {
  content: '';
  background: url(../img/increase.png) no-repeat left top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 63px;
  height: 63px;
  opacity: .9;
  transition: all 0.3s ease;
}
.fullscreen-slider__item:hover:after {
  opacity: .8;
}
.fullscreen-slider-wr {
  position: relative;
}
.fullscreen-slider-controls {
  position: absolute;
  z-index: 3;
  top: 292px;
  left: 0;
  right: 0;
}
.fullscreen-slider-controls .slick-prev,
.fullscreen-slider-controls .slick-next {
  width: 63px;
  height: 63px;
  transition: all 0.3s ease;
}
.fullscreen-slider-controls .slick-prev:before,
.fullscreen-slider-controls .slick-next:before {
  display: none;
}
.fullscreen-slider-controls .slick-prev {
  left: 15px;
  background: url(../img/rounded-slider-arrs.png) no-repeat left top;
}
.fullscreen-slider-controls [dir='rtl'] .slick-prev {
  right: 15px;
  left: auto;
}
.fullscreen-slider-controls .slick-next {
  right: 15px;
  background: url(../img/rounded-slider-arrs.png) no-repeat left bottom;
}
.fullscreen-slider-controls [dir='rtl'] .slick-next {
  left: 15px;
  right: auto;
}
.fullscreen-slider-controls .slick-prev:hover,
.fullscreen-slider-controls .slick-next:hover {
  opacity: .8;
}
.timetable {
  margin: 0 -11px;
  display: flex;
  flex-wrap: wrap;
}
.timetable__item {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #fff;
}
.timetable__item-desc {
  padding: 30px;
}
.timetable__item-image {
  height: 263px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.timetable__item-title {
  position: relative;
  font: 700 30px/32px 'PT Sans', sans-serif;
  color: #152643;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.timetable__item-title:after {
  content: '';
  height: 22px;
  width: 122px;
  background: url(../img/timetable-day-bg.png) no-repeat left top;
  position: absolute;
  left: -10px;
  bottom: -22px;
}
.timetable__item-text {
  font: 400 16px/22px 'PT Sans', sans-serif;
}
.timetable__col {
  padding: 0 11px;
  margin: 0 0 22px;
  width: 33.3333%;
}
.share {
  display: flex;
  height: 70px;
  align-items: center;
}
.share__left {
  flex-grow: 1;
}
.share__right {
  flex-shrink: 0;
}
.share-panel {
  display: flex;
  align-items: center;
}
.share-panel__title {
  padding-right: 20px;
  font: 700 24px/26px 'PT Sans', sans-serif;
}
.share-panel__title img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.share .ya-share2__container_size_m .ya-share2__icon {
  width: 30px;
  height: 30px;
}
.share .ya-share2__container_size_m .ya-share2__counter {
  line-height: 30px;
}
.order-btn {
  display: inline-block;
  background-color: #2f7ce3;
  font: 700 22px/68px 'PT Sans', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 325px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.order-btn:hover {
  opacity: .9;
}
.detail {
  color: #fff;
  display: flex;
  align-items: left;
}
.detail-wr {
  background-color: #152643;
}
.detail__left {
  flex-grow: 1;
  padding: 40px 40px 40px 0;
}
.detail__right {
  flex-shrink: 0;
}
.detail .price-block {
  width: 279px;
  height: 166px;
  background: url(../img/price-block-bg.png) no-repeat left top;
  padding: 50px 20px 10px;
  text-align: center;
  margin: 0 auto 30px;
}
.detail .price-block__title {
  display: inline-block;
  position: relative;
  font: 400 18px/22px 'PT Sans', sans-serif;
  color: #687385;
  margin: 0 0 15px;
  padding: 0 15px;
}
.detail .price-block__title:after,
.detail .price-block__title:before {
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  width: 20px;
  background-color: #687385;
}
.detail .price-block__title:after {
  right: -20px;
}
.detail .price-block__title:before {
  left: -20px;
}
.detail .price-block .price {
  color: #152643;
  font: 700 20px/22px 'PT Sans', sans-serif;
}
.detail .price-block .price span {
  font-size: 35px;
}
.detail__title {
  font: 700 40px/42px 'PT Sans', sans-serif;
  color: #fff;
  margin: 0 0 55px;
  text-transform: uppercase;
}
.detail__quote {
  position: relative;
  padding-left: 65px;
  font: 400 18px/22px 'PT Sans', sans-serif;
  color: #fff;
}
.detail__quote:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 1px;
  width: 42px;
  background-color: #677285;
}
.detail-topline {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
  max-width: 70%;
}
.detail-topline__item {
  flex-shrink: 0;
}
.detail-topline__item img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.detail-topline__item span {
  font: 700 16px/36px 'PT Sans', sans-serif;
  color: #fff;
  display: inline-block;
}
.send-btn {
  background: url(../img/send-btn-bg.png) no-repeat left top;
  display: block;
  height: 68px;
  width: 325px;
  margin: 0 auto 30px;
  transition: all 0.3s ease;
}
.send-btn:hover {
  opacity: .9;
}
.summer .main-banner {
  background-image: url(../img/summer-main-bg.jpg);
}
.summer .h1-title {
  background-image: url(../img/summer-h1-text.png);
  width: 386px;
  height: 98px;
}
.summer .callback-btn {
  background-image: url(../img/summer-bhone-btn-bg.png);
}
.summer .season-lable {
  background: url(../img/summer-lable.png) no-repeat left top;
}
.summer .season-switch__btn {
  background-position: left top;
}
.winter .main-banner {
  background-image: url(../img/winter-main-bg.jpg);
}
.winter .h1-title {
  background-image: url(../img/winter-h1-text.png);
  width: 479px;
  height: 152px;
  top: 60px;
}
.winter .callback-btn {
  background-image: url(../img/winter-bhone-btn-bg.png);
}
.winter .season-lable {
  background: url(../img/winter-lable.png) no-repeat left top;
}
.winter .main-banner__phone-block {
  background: url(../img/main-banner__phone-block-bg.png) no-repeat center center;
  background-size: contain;
}
.winter .season-switch__btn {
  background-position: left bottom;
}
.winter .inner-season-btn {
  background-position: left bottom;
}
.sm-visible {
  display: none;
}
@media screen and (max-width: 1240px) {
  .wrap {
    width: 1000px;
    padding: 0 20px;
  }
  .header__right {
    width: 230px;
  }
  .tours-list__item {
    width: 130px;
  }
  .tours-list__item .backing {
    left: -10px;
    right: -10px;
    bottom: -15px;
  }
  .tours-list__item-text {
    font: 700 15px/17px 'PT Sans', sans-serif;
  }
  .included-list {
    padding-right: 18%;
  }
  .big-bear {
    width: 25%;
  }
  .blog__item-content {
    padding: 25px 15px;
  }
  .welcome__text {
    padding-right: 0;
  }
  .footer__application-wr {
    margin-bottom: 65px;
  }
  .gallery__left,
  .gallery__right {
    width: 50%;
  }
  .gallery .smallslider__item:nth-child(n+5) {
    display: none;
  }
  .detail .price-block {
    width: 220px;
  }
  .detail .send-btn {
    width: 220px;
    height: 48px;
    background-size: contain;
  }
  .detail__title {
    font: 700 34px/36px 'PT Sans', sans-serif;
    margin: 0 0 35px;
  }
  .detail-topline {
    max-width: 100%;
  }
  .detail__quote {
    font-size: 16px;
  }
  .timetable__item-image {
    height: 220px;
  }
  .timetable__item-desc {
    padding: 25px 20px;
  }
  .share-panel__title {
    font: 700 18px/20px 'PT Sans', sans-serif;
  }
  .share-panel__title img {
    margin-right: 10px;
    width: 35px;
  }
  .order-btn {
    font: 700 18px/48px 'PT Sans', sans-serif;
    width: 220px;
  }
}
@media screen and (max-width: 1023px) {
  .wrap {
    width: 740px;
  }
  .header__right {
    width: 170px;
  }
  .main-nav__item a {
    font: 700 16px/37px 'PT Sans', sans-serif;
    padding: 0 10px;
  }
  .lang-menu__item {
    margin-left: 5px;
  }
  .lang-menu__item a {
    font: 400 12px/35px 'PT Sans', sans-serif;
    padding: 0 8px;
  }
  .logo img {
    width: 160px;
  }
  .main-banner__phone-block {
    top: 10px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  }
  .summer .h1-title {
    top: 120px;
  }
  .season-lable {
    top: 0;
    left: 20px;
    width: 150px;
    height: 150px;
    background-size: contain!important;
  }
  .season__topline .h2-title {
    margin-bottom: 60px;
  }
  .season-switch {
    margin-bottom: 10px;
  }
  .causes {
    padding-bottom: 60px;
  }
  .sm-visible {
    display: block;
  }
  .sm-hidden {
    display: none;
  }
  .tours-slider__item-desc {
    padding: 25px;
  }
  .tours-panel__left {
    display: flex;
    justify-content: space-auround;
  }
  .tours-slider__item .wrap {
    padding: 0 20px 0 80px;
  }
  .tours-panel__item img {
    margin-right: 5px;
  }
  .welcome-title {
    font: 700 34px/40px 'PT Sans', sans-serif;
    color: #115286;
  }
  .welcome-title span {
    font-size: 40px;
    text-transform: uppercase;
  }
  .welcome-title i {
    font: 42px/40px 'Gabriola', sans-serif;
  }
  .big-bear {
    width: 200px;
  }
  .included-list {
    padding-right: 0;
  }
  .included-list__item-image {
    width: 95px;
  }
  .included-list__item-text i {
    font: 400 14px/16px 'PT Sans', sans-serif;
  }
  .team__item-image {
    width: 85%;
  }
  .blog__item-image {
    height: 220px;
  }
  .blog-title {
    font: 700 42px/44px 'PT Sans', sans-serif;
    margin-bottom: 35px;
  }
  .blog-title i {
    font: 400 26px/28px 'Gabriola', sans-serif;
  }
  .footer-title {
    font: 700 40px/42px 'PT Sans', sans-serif;
    margin-bottom: 30px;
  }
  .footer-title i {
    font: 400 38px/40px 'Gabriola', sans-serif;
  }
  .footer__form {
    display: block;
  }
  .footer__form-col {
    padding: 0 30px;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__form-col:last-child {
    margin-bottom: 0;
  }
  .footer__form-row {
    margin-bottom: 0;
  }
  .footer__form-row--onecol {
    margin-bottom: 20px;
  }
  .footer-subscribe {
    display: none;
  }
  .acquaintance-title {
    font: 700 40px/42px 'PT Sans', sans-serif;
  }
  .acquaintance-title span {
    display: block;
  }
  .acquaintance-title i {
    display: none;
  }
  .acquaintance-nav__item.with-droplist > a span {
    padding-right: 15px;
  }
  .acquaintance-nav__item.with-droplist > a span:after {
    right: 0;
  }
  .acquaintance-nav__item > a {
    font-size: 16px;
  }
  .acquaintance-nav__droplist {
    width: 290px;
    z-index: 8;
  }
  .gallery {
    display: block;
  }
  .gallery__left {
    display: none;
  }
  .gallery__right {
    width: 100%;
    height: 440px;
  }
}
@media screen and (max-width: 767px) {
  .wrap {
    width: 320px;
  }
  .welcome .big-bear {
    display: none;
  }
  .welcome-title {
    font: 700 28px/32px 'PT Sans', sans-serif;
  }
  .welcome-title span {
    font: 700 30px/32px 'PT Sans', sans-serif;
  }
  .welcome-title i {
    font: 400 28px/28px 'Gabriola', sans-serif;
  }
  .welcome__included {
    padding: 55px 0;
  }
  .welcome__included .included-list {
    display: block;
  }
  .welcome__included .included-list__item {
    width: 100%;
  }
  .welcome__included .included-list__item-image {
    margin-right: 10px;
  }
  .welcome__included .included-title {
    font: 700 34px/36px 'PT Sans', sans-serif;
    margin-bottom: 35px;
  }
  .welcome__included .included-title span {
    font: 700 28px/30px 'PT Sans', sans-serif;
  }
  .tours__topline,
  .acquaintance-nav,
  .footer__bottom-wr {
    display: none;
  }
  .header {
    height: 70px;
  }
  .header-wr {
    height: 70px;
  }
  .header .mob-btn {
    display: block;
  }
  .main-banner {
    margin-top: 70px;
  }
  .blog {
    display: block;
    margin: 0;
  }
  .blog__item-wr {
    padding: 0;
    margin-bottom: 20px;
  }
  .blog-title {
    font: 700 32px/34px 'PT Sans', sans-serif;
  }
  .blog-title i {
    font: 400 22px/24px 'Gabriola', sans-serif;
    display: block;
    margin-top: 10px;
  }
  .footer__form-btn {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    font-size: 18px;
  }
  .footer__form-col {
    padding: 0 20px;
  }
  .footer__form-row {
    display: block;
    margin-bottom: 20px;
  }
  .footer__form-row .text-field-label {
    line-height: 20px;
    width: 100%;
  }
  .footer__form-row .text-field input[type="text"] {
    line-height: 36px;
  }
  .footer__application {
    padding: 20px 0;
  }
  .footer__application-wr {
    margin-top: 0;
    padding: 0;
  }
  .team-title,
  .footer-title,
  .video-title {
    font: 700 34px/42px 'PT Sans', sans-serif;
    margin-bottom: 35px;
  }
  .team-title i,
  .footer-title i,
  .video-title i {
    font: 400 32px/34px 'Gabriola', sans-serif;
  }
  .video iframe {
    height: 220px;
  }
  .main-nav {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #4b689d;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  .main-nav__item {
    display: block;
  }
  .main-nav__item a {
    padding: 0 20px;
    border-radius: 0;
  }
  .main-nav.active {
    opacity: 1;
    visibility: visible;
  }
  .causes-slider {
    margin: 0;
  }
  .causes-item {
    background: rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    height: auto;
    padding: 20px 20px 25px;
  }
  .causes-item-text {
    padding-left: 15px;
  }
  .causes-title {
    font: 700 34px/36px 'PT Sans', sans-serif;
  }
  .causes-title span {
    font: 700 40px/42px 'PT Sans', sans-serif;
  }
  .team {
    display: block;
  }
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
  .team-wr {
    padding-bottom: 0;
  }
  .gallery__right {
    height: 280px;
  }
  .acquaintance {
    padding: 55px 0;
  }
  .acquaintance-title {
    font: 700 34px/42px 'PT Sans', sans-serif;
    margin-bottom: 30px;
  }
  .acquaintance-title span {
    margin-top: 10px;
    font: 700 18px/20px 'PT Sans', sans-serif;
  }
  .season__topline .h2-title {
    font: 700 34px/42px 'PT Sans', sans-serif;
  }
  .season__topline .h2-title i {
    font: 400 28px/28px 'Gabriola', sans-serif;
  }
}
